doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/pure-min.css', integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w", crossorigin="anonymous")
    link(rel='stylesheet', type="text/css" href="css/highlight-js-styles/default.css")  
    link(rel='stylesheet', type="text/css" href="css/blog.css")  
    script(src='js/highlight.js')
  body
    include navbar.pug
    block content
    br
    hr
    footer
      p Copyright &copy; 2017
      a(href="https://github.com/aikramer2")
        img(src="/img/png/git.png", width=50, height=50)
      a(href="https://www.linkedin.com/in/aaron-kramer-bb74264a/")
        img(src="/img/png/linkedin.png", width=50, height=50)          
      
