extends layout
block content
  link(rel="stylesheet" type="text/css" href="css/code.css")
  if articles
    div(id="unclassified-articles") 
      h3(class="article-type") Unclassified Articles
      ul 
        each article in articles
          li
            a(href= article.url) #{article.title}
  else
    p No articles found!   
        
